version:configuration version 0.10
node:code
bgs-url:http://vbawebservices.vba.va.gov/vawss
bgs-url:http://bepdev.vba.va.gov/CaseWebServiceBean/CaseWebService
bgs-url-code:
jdbc-url:jdbc:oracle:thin:@10.247.134.231:1527:evaDevl
jdbc-url:jdbc:oracle:thin:@vbadev.vba.va.gov:1527:devl
jdbc-url-code:
jdbc-user:cwinrs
jdbc-user:etldevl
jdbc-password:asdf1234#
jdbc-password:etlprod
jdbc-query:SELECT count(*) FROM dual
jdbc-update:REPLACE THIS TEXT with SET value in record
jdbc-procedure:"{? = CALL balance(?)}"
jdbc-test:on
bgs-test:on
wait:1000
loop:off
log-to-console:on
log-to-file:on
log-dcmntTxt-length:80
